* {
    margin: 0;
	padding: 0;
	border: 0;
    text-decoration: none;
}

.containers {
    display: flex;
}

nav, header, article, footer, .caixa {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

nav {
    background-color: plum;
    width: 20vw;
    height: 100vh;
}

.quadros {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.quadro-tipo1 {
    background-color: dodgerblue;
    height: 40vh;
    width: 70vw;
    margin: 0 10em;
}

.quadro-tipo2 {
    background-color: hotpink;
    height: 20vh;
    width: 20vw;
    margin: 0 1em;
}

.lista-esquerda {
    background-color: red;
    list-style-type: none;
    padding: 1em 2em;
    margin: 1em;
}

.lista-direita {
    background-color: cyan;
    list-style-type: none;
    padding: 1em;
    margin: 2em 0;
}

header {
    background-color: red;
    height: 10vh;
    width: 80vw;
}

nav {
    width: 20vw;
}

article {
    background-color: greenyellow;
    height: 80vh;
    width: 60vw;
}

aside {
    background-color: bisque;
    height: 80vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: blueviolet;
    height: 10vh;
    width: 80vw;
}